%h1 Listing libraries

%table.table.table-striped
  %tr
    %th Wrapper Name
    %th Description
    %th Language
    %th
    %th
    %th

  - @libraries.each do |library|
    %tr
      %td= library.github_repo
      %td= library.get_repo(library.github_repo).description
      %td= library.language_list
      %td= link_to 'Show', library
      %td= link_to 'Edit', edit_library_path(library)
      %td= link_to 'Destroy', library, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Library', new_library_path
