%p#notice= notice

%p
  %b Library Name:
  = @octo.name
%p
  %b Description:
  = @octo.description
%p
  %b Language:
  = @octo.language
%p
  %b Watchers:
  = @octo.watchers
%p
  %b Forks:
  = @octo.forks

%p
  %b Github URL:
  = @octo.html_url

%p
  %b Last Update:
  = @octo.updated_at

- if user_signed_in?
  = link_to 'Edit', edit_library_path(@library)
\|
= link_to 'Back', libraries_path
