!!! 5
%html
  %head
    %title Code for America Wrappers
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %style{:type => "text/css"}
    body {padding-top: 60px;padding-bottom: 40px;}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class => "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %a{:class => "brand", :href=>"#"}  Code for America Wrappers
            .nav-collapse
              %ul.nav
                %li
                  = link_to 'Home', root_path
                %li
                  = link_to 'Libraries', libraries_path
                %li
                  = link_to 'Ruby', libraries_path(:language => 'Ruby')
                %li
                  = link_to 'PHP', libraries_path(:language => 'PHP')
                %li
                  = link_to 'Python', libraries_path(:language => 'Python')


    = render :partial => "layouts/flash", :locals => {:flash => flash}
    .container
      = yield
  %script{:src => "http://dthompson.github.com/cfa_banner/banner.js?type=flag", :id => "cfa_banner_script"}
  %footer
    Code for America
    - if user_signed_in?
      = link_to('Logout', destroy_user_session_path, :method => :delete)
