!!! 5
%html
  %head
    %title Code for America Wrappers
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %style{:type => "text/css"}
    body {padding-top: 60px;padding-bottom: 40px;}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class => "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %a{:class => "brand", :href=>"#"}  Code for America Wrappers
            .nav-collapse
              %ul.nav
                %li
                  = link_to 'Home', root_path
                %li
                  = link_to 'Libraries', libraries_path
    .container
      = yield
  %footer
    Code for America
